.top-banner h1{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color :white;
    text-align: center;

    
}
.top-banner{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    height: 100%;
    width:100%;
    align-content: center;
  }
.top-banner p{
    font-family: 'Poppins', sans-serif;
    color :white;
    text-align: center;
    margin-bottom: 50px;
   
}
.one{
    border :20px solid white;
    padding :20px;
}
.donate{
    text-decoration: none;
    background-color: rgb(237, 78, 57);
    font-family: 'Poppins', sans-serif;
    padding :10px 40px;
    font-size: 15px;
    border-radius: 5px;
    color : white;
    font-weight: 700;
    margin:20px;
    display: inline-block;
    position: relative;
    text-align: center;
   
   }
.two h1{
         text-align: center;
         font-family: 'Poppins', sans-serif;
         font-size: 40px;

}
.two p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.sub{
    font-family: 'Poppins', sans-serif ;
    display: flex;
    border:60px solid white;
    margin :50px;
    padding : 50px;
  
  
}
#ami{
    border: 10px solid white;
    font-size: 20px;
    background-color: blanchedalmond;
    margin: 30px;
    padding :20px;
    border-radius: 10px;
}
#taka{
    border: 10px solid white;
    font-size: 20px;
    background-color:cyan;
    margin: 30px;
    padding :20px;
    border-radius: 10px;
}
#ani{
    border: 4px solid steelblue;
    border-radius: 10px;
    font-size: 30px;
    background-color:aquamarine;
    margin: 10px;
    padding :20px;
    color :rgb(4, 104, 106);
    text-align: center;
}
#momo{
    border: 10px solid white;
    font-size: 30px;
    background-color:honeydew ;
    margin: 10px;
    padding :20px;
    border-radius: 10px;
}
#tabu{
    border: 10px solid white;
    font-size: 30px;
    background-color:khaki;
    margin: 10px;
    padding :20px;
    border-radius: 10px;
}
hr{
    width:80%;
    margin-bottom: 50px;
}
.text-button{
    margin:0;
    position :absolute;
   -ms-transform: translate(-50% , -50%);
   transform:   translate(-50%, -50%);
   left : 50%;
}
.second-banner{
    margin-bottom: 200px;
}
.third-banner h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color :black;
    text-align: center;
}
.third-banner p{
    text-align: center;
    font-family: 'Poppins', sans-serif;

}
.food{
    width :30%;
    background-color: rgb(241, 211, 215);
    border: 10px solid white;
   
}
.food p{
    
    margin: 10px;
}
.shelter{
    width : 30%;
    background-color: lightcyan;
    border: 10px solid white;
}
.shelter p{
    margin: 10px;
}
.education{
    width : 30%;
    background-color : rgb(202, 225, 239);
    border: 10px solid white;
}
.education p{
    margin: 10px;
}
.sub-two{
    display: flex;
    border:60px solid white;
}
.contact{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.contact h1{
    font-size: 40px;


}

#subs{
    background-color: rgb(236, 84, 61);
    text-align: center;
    color: aliceblue;
}
.info{
    width:50%;
    background-color: lightgoldenrodyellow;
    border: 50px solid white;
    margin-left: 300px;
}
.last-banner{
    display: flex;
}
.half-width{
    width :50%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border: 10px solid white;
}
#how{
    background-color: rgb(226, 80, 77);
    text-align: center;
    color:aliceblue;
    font-family: 'Poppins', sans-serif;
    padding :10px 40px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid white;
}
footer{
    font-family :'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: black;
    text-align: center;
}
footer h1{
    color:rgb(237, 88, 118);
}
footer p{
    color :white;
}